@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

.light-mode {
    --bg-color: #fff;
    --second-bg-color: #FFFDD0;
    --text-color: #1f242d;
    --main-color: rgb(208, 79, 96);
}

span {
    color: var(--main-color);
}


@media (max-width: 120px) {
    html {
        font-size: 55%;
    }
}

label{
    color: var(--main-color);
    font-size: 1.5rem;
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}
