.about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}



.about-img img {
    width: 20vw;
    border-radius: 50%;
    border: 3px solid var(--main-color);
}