.header{
    background-color: var(--second-bg-color);
}

#nav-toggle{
    margin-left: auto;
    background-color: var(--main-color);
    border: none;
}

#nav .nav-link{
    color: var(--text-color)
}

#nav .nav-link:hover{
    color: var(--main-color);
}

.theme-btn {
    display: flex;
    justify-content: center;
    padding: 1rem ;
    background: var(--main-color);
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: .8rem;
    font-weight: 200;
    transition: .5s ease;
    cursor: pointer;
}

.theme-btn:hover {
    box-shadow: none;
}

.logout-btn {
    display: flex;
    justify-content: center;
    padding: 1rem ;
    background: var(--main-color);
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: .8rem;
    font-weight: 200;
    transition: .5s ease;
    cursor: pointer;
}

.logout-btn:hover {
    box-shadow: none;
}