.photo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40rem;
    margin-top: 2rem;

}

.photo-card{
    width: 40rem;
    height: 20rem;
    background: var(--second-bg-color);
    padding: 1.5rem 1.5rem 2rem;
    border-radius: 2rem;
    text-align: center;
    border: .5rem solid var(--bg-color);
}

.photo-card img{
    border-radius: 2rem;
}