.skill{
    margin-top: 5rem;
    max-width: 60rem;
}

.skill .card{
    flex: 1 1 15rem;
    background: var(--second-bg-color);
    padding: 1.5rem 1.5rem 2rem;
    border-radius: 2rem;
    text-align: center;
    border: .5rem solid var(--bg-color);

}

.skill .card :hover{
    border-color: var(--main-color);
    transform: scale(1.02);
    transition: .5s ease;
}


.skill .card i {
    font-size: 4rem;
    color: var(--main-color);
}

.skill .card h5 {
    font-size: 1.5rem;
    color: var(--text-color);
}

.skill .card h6 {
    font-size: 2.6rem;
    color: var(--text-color);
}
